{% extends "base.html" %}

{% block content %}
  <main>
    <h2 class="text-4xl">Yudai Takada (ydah)</h2>
    <hr>
    <p class="mb-10">
      Yudai Takada is a Rubyist and software engineer. As a software engineer,
      he has experience developing control and embedded applications, web
      backends, and web frontends. Additionally, He is also an experienced Scrum
      Master and has helped introduction of Scrum to teams. He is engaged mainly
      in control and embedded software development at a software development
      company in Osaka 2015-2021. Currently, he works at
      <a class="underline" href="https://andpad.co.jp/">ANDPAD Inc.</a> to re-architect Rails
      applications and solve cross-cutting technical issues.
    </p>
    <h2 class="text-4xl">Links and Contacts</h2>
    <hr>
    <div class="grid grid-rows-5 grid-flow-col gap-4">
      <div><span class="mdi mdi-gmail"></span> <a class="underline" href="mailto:t.yudai92@gmail.com">t.yudai92@gmail.com</a></div>
      <div><span class="mdi mdi-camera"></span> <a class="underline" href="https://ydah.net/work/photo">ydah.net/work/photo</a></div>
      <div><span class="mdi mdi-github"></span> <a class="underline" href="https://github.com/ydah/">github.com/ydah</a></div>
      <div><span class="mdi mdi-twitter"></span> <a class="underline" href="https://twitter.com/ydah_">twitter.com/ydah_</a></div>
      <div><span class="mdi mdi-cloud-circle"></span> <a class="underline" href="https://bsky.app/profile/ydah.bsky.social">ydah.bsky.social</a></div>
      <div><span class="mdi mdi-rss"></span> <a class="underline" href="https://ydah.net/blog">ydah.net/blog</a></div>
      <div><span class="mdi mdi-chef-hat"></span> <a class="underline" href="https://ydah.net/work/cook">ydah.net/work/cook</a></div>
      <div><span class="mdi mdi-presentation"></span> <a class="underline" href="https://speakerdeck.com/ydah">speakerdeck.com/ydah</a></div>
      <div><span class="mdi mdi-mastodon"></span> <a class="underline" href="https://ruby.social/@ydah">ruby.social/@ydah</a></div>
      <div><span class="mdi mdi-instagram"></span> <a class="underline" href="https://instagram.com/ydah__/">instagram.com/ydah__</a></div>
    </div>
  </main>
  <footer class="text-center">
    <small>
      <i aria-hidden="true" class="mdi mdi-copyright" style="font-size:16px"></i> 2024 — ydah
    </small>
  </footer>
{% endblock %}
