html {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 500;
  font-style: normal;
  max-width: 100%;
  min-height: 100vh;
}

hr {
  border-color: hsla(0, 0%, 100%, .12);
  border-width: thin 0 0;
  max-height: 0;
  max-width: 100%;
  transition: inherit;
  margin: 1rem 0;
}

.body-wrapper {
  display: flex;
  flex-direction:column;
  min-height: 96vh;
}

main {
  flex: 1;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
  width: 100%;
  max-width: 900px;
}
